{% extends 'base.html' %}

{%block title%} Cadastro {%endblock%}

{% block content %}

{% if messages %}
<div class="container alert alert-success" role="alert">
  {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}

<div class="offset-1 col-10 list-div">
    <h1>Cadastro de Livros</h1>
        <form method="POST" name="form1">
            {% csrf_token %}
            <div><p>Titulo: {{form.titulo}}</p></div>
            <p>Autor: {{form.autor}}</p>
            <p>Editora: {{form.editora}}</p>
            <div class="mb-4">Categoria: {{form.categoria}} <button type="button" class="btn btn-success btn-sm"
                                                           data-toggle="modal" data-target="#modalExemplo">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                                                    </svg> Adicionar
                                                </button></div>
            <p>Descrição: {{form.descricao}}</p>


            <button class="btn btn-success" type="submit" id="liveAlertBtn">Salvar</button>
        </form>
</div>

<form method="post" name="form2" id="form2" action="{% url 'livros:create_categories' %}">
    {%csrf_token%}
    <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <label class="control-label col-sm-3">Categoria: </label>
                <div class="col-sm-8">
                    <input type="text" name="categoria" maxlength="50" required id="categoria">
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Salvar mudanças</button>
          </div>
        </div>
      </div>
    </div>
</form>

{% endblock %}



